@media (min-width: 800px) {

  .title {
    padding-top: 200px;
}

    /* Booking */
    .image-booking img {
        width: 400px;
        height: 400px;
    
    }
    
    /* About me */
    .about-div img {
      width: 500px;
    }

    .about-div {
      max-width: 800px;
      }
    
}

@media (min-width: 1000px) {
section {
    padding-top: 5vh;
}

/* Header */
.header-image img {
    width: 80vw;
    height: 50vh;
  }
  
  .header-nav {
    width: 80vw;
  }

  .logo {
    padding: 20px;
  }

  /* Booking */

.booking-containers {
    justify-content: space-evenly;
    max-width: 1500px;
}


}


@media screen and (max-width: 1000px) {
  .desktop-nav {
    display: none;
  }

  #hamburger-nav {
    display: flex;
    justify-content: flex-end;
  }
}
